<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nand gate</title>
    <h1>Nand gate testing</h1>
</head>
<body>

<h3>Hello, today we will find the result of your input of either one of: 0,0. 1,0. 0,1. 1,1, if it produces a
    "1" or a "0" with the help of a NAND gate</h3>

<form method="post" action="/result">
  <label for="input1">Input 1:</label>
  <input type="text" id="input1" name="input1"><br><br>
  <label for="input2">Input 2:</label>
  <input type="text" id="input2" name="input2"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
